.modals {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    z-index: 5000;
    text-align: center;
    color: white;
    top: 0%;
    left: 0%;
    display: flex;
    animation: modals 3s 45s forwards;
    visibility: hidden;
    opacity: 0;
}

.contenido {
    margin: auto;
    width: 50%;
    height: 50%;
    background: white;
    border-radius: 15px;
}

#cerrar {
    display: none;
    z-index: 5005;
}

#cerrar+label {
    position: fixed;
    color: #fff;
    font-size: 25px;
    z-index: 5050;
    background: darkred;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    right: 10px;
    cursor: pointer;
    animation: modals 3s 45s forwards;
    visibility: hidden;
    opacity: 0;
}

#cerrar:checked +label, #cerrar:checked ~ .modals{
    display: none;
}

@keyframes modals {
    100% {
        visibility: visible;
        opacity: 1;
    }
}